:root {
	--footer-height: 5vh;
	--main-height: 100vh;
	--semi-transparent: 55%;
	--medium-transparent: 30%;
	--lg-max: 1366px;
	--md-max: 850px;
	--sm-max: 480px;
	--xs-max: 400px;
}

* {
	font-family: sans-serif;
}
.default {
	--color-1: rgb(240, 250, 240);
	--color-2: rgb(50, 50, 50);
	--color-3: rgb(100, 150, 100);
	--color-4: rgb(80, 100, 80);
	--color-5: rgb(160, 180, 160);
	--color-6: rgb(130, 145, 130);

	--style-font-1: 'Amatic SC', 'Oswald', 'Patrick Hand', serif;
	--style-font-2: 'Patrick Hand', 'Oswald', sans-serif;
	--font-size-sm: 0.6rem;
	--font-size-md: 1.2rem;
	--font-size-lg: 1.4rem;
	--font-size-toc: 1.4rem;
	--font-size-toc-sm: 0.9rem;

	--font-weight-norm: 200;
	--font-weight-bold: 800;
	--radius: 0;
	--rotate-1: 1deg;
	--rotate-2: 2deg;
	--rotate-4: 4deg;
	--rotate-6: 6deg;
	--alt-rotate-1: -1deg;
	--alt-rotate-2: -2deg;
	--alt-rotate-4: -4deg;
	--alt-rotate-6: -6deg;
	--big-rotate: 30deg;
	--alt-big-rotate: -30deg;
	--translate-x-1: -4rem;
	--translate-x-2: -9rem;
	--translate-y-1: 14rem;
	--translate-y-2: 13rem;
	--translate-y-3: 20rem;
	--translate-y-4: 8rem;
	--icon-position: absolute;
	--zero: 0rem;

	--lander-width: 80%;
}
.spaceship {
	--color-1: white;
	--color-2: white;
	--color-3: rgb(40, 40, 170);
	--color-4: rgb(80, 60, 205);
	--color-5: rgb(50, 150, 255);
	--color-6: white;

	--style-font-1: 'Orbitron', 'Exo 2', sans-serif;
	--style-font-2: 'Exo 2', 'Orbitron', sans-serif;
	--font-size-sm: 0.8rem;
	--font-size-md: 1rem;
	--font-size-lg: 1.2rem;
	--font-size-toc: 0.9rem;
	--font-size-toc-sm: 0.5rem;
	--font-weight-norm: 200;
	--font-weight-bold: 600;
	--radius: 0.4rem;
	--rotate-1: 0deg;
	--rotate-2: 0deg;
	--rotate-4: 0deg;
	--rotate-6: 0deg;

	--alt-rotate-1: 0deg;
	--alt-rotate-2: 0deg;
	--alt-rotate-4: 0deg;
	--alt-rotate-6: 0deg;
	--lander-width: 100%;
	--icon-position: relative;
}

@media (prefers-color-scheme: dark) {
	.default {
		--color-1: rgb(0, 40, 0);
		--color-2: rgb(220, 220, 220);
		--color-3: #53744f;
		--color-4: rgb(15, 40, 15);
		--color-5: rgb(0, 10, 0);
		--color-6: rgb(30, 40, 30);

		--semi-transparent: 70%;
		--medium-transparent: 55%;
	}
	.spaceship {
		--color-1: rgb(0, 0, 0);
		--color-2: rgb(129, 222, 245);
		--color-3: rgb(80, 80, 250);
		--color-4: rgb(40, 40, 80);
		--color-5: rgb(20, 20, 40);
		--color-6: rgb(0, 0, 0);
		--semi-transparent: 70%;
		--medium-transparent: 55%;
	}
}

@media screen and (max-width: var(--sm-max)) {
	.default {
		--translate-y-1: 9.5rem;
		--translate-x-2: -4rem;
		--translate-y-3: 14rem;
		--icon-position: relative;
	}
}

html {
	overflow-x: hidden;
	overflow-y: scroll;
	scroll-behavior: smooth;
}

body *:focus {
	outline: 1px solid var(--color-3);
}
blockquote {
	margin: 0;
}
ul {
	padding-left: 0;
}

.cart-button {
	border: none;
	background-color: transparent;
}
/* shapes */

.rhombus {
	transform: skewX(45deg) scaleY(cos(45deg));
}
/* /shapes */

.main-wrapper,
.alt-wrapper {
	min-width: 45vw;
	min-height: 55vh;
	padding: 1rem;
	border-radius: var(--radius);
}
.flex-wrap-none {
	flex-wrap: none;
}
.alt-wrapper {
	top: 15vh;
	background-color: var(--color-1);
	opacity: var(--semi-transparent);
}

button {
	cursor: pointer;
}
.main-wrapper {
	top: 15vh;
}
.left {
	left: 0;
}
.right {
	right: 0;
}
/*position*/
.fixed {
	position: fixed;
}
.absolute-center {
	top: 50%;
	left: 45%;
}
.z5 {
	z-index: 5;
}
.z10 {
	z-index: 10;
}
.z15 {
	z-index: 15;
}
.undisplayed {
	display: none;
}

.absolute {
	position: absolute;
}
.relative {
	position: relative;
}
.top {
	top: 0;
}
.bottom {
	bottom: 0;
}
/*text decoration*/
.no-deco {
	text-decoration: none;
	list-style: none;
}
.spaced {
	letter-spacing: 0.1rem;
}
.uppercase {
	text-transform: uppercase;
}
.lowercase {
	text-transform: lowercase;
}
.style-1 {
	font-family: var(--style-font-1);
}
.style-2 {
	font-family: var(--style-font-2);
}
.left-align {
	text-align: left;
}

.thin {
	font-weight: 200;
}

.mid {
	font-weight: 400;
}
.thick,
.bold {
	font-weight: 800;
}

.font-small {
	font-size: var(--font-size-sm);
}
.font-mid {
	font-size: var(--font-size-md);
}
.font-large {
	font-size: var(--font-size-lg);
}
.font-banner {
	font-size: 3rem;
}
.relative {
	position: relative;
}
/*text decoration*/
/*shapes */
.box-large {
	height: 450px;
	width: 450px;
}
.box-medium {
	height: 300px;
	width: 300px;
}
.box-small {
	height: 150px;
	width: 150px;
}
.rectangle-small-horizontal {
	height: 150px;
	width: 150px;
}
.rectangle-medium-horizontal {
	height: 150px;
	width: 300px;
}
.rectangle-large-horizontal {
	height: 150px;
	width: 450px;
}
/*text color*/
.stark {
	color: var(--color-6);
}
.color-1 {
	color: var(--color-1);
}
.color-2 {
	color: var(--color-2);
}
.color-3 {
	color: var(--color-3);
}
.color-4 {
	color: var(--color-4);
}
.color-5 {
	color: var(--color-5);
}
.color-6 {
	color: var(--color-6);
}
/*text color*/
/*bg color*/
.bg-1 {
	background-color: var(--color-1);
}
.bg-2 {
	background-color: var(--color-2);
}
.bg-3 {
	background-color: var(--color-3);
}
.bg-4 {
	background-color: var(--color-4);
}
.bg-5 {
	background-color: var(--color-5);
}
.bg-6 {
	background-color: var(--color-6);
}
/*bg color*/

/*padding*/
.pad-none {
	padding: 0;
}
.pl-0 {
	padding-left: 0;
}
.px-1 {
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}
.px-2 {
	padding-right: 1.5rem;
	padding-left: 1.5rem;
}
.py-1 {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.py-2 {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

/*layout*/
.main {
	min-height: 100vh;
	padding: 6rem 0;
	color: var(--color-2);
}

.banner-container {
	position: relative;
	width: 300px;
	height: 300px;
}
.jumbo-container {
	position: relative;
	width: 60vw;
	height: 45vw;
}

.image-container {
	position: relative;
	width: 300px;
	height: 300px;
}
.portrait-container {
	position: relative;
	height: 70vh;
	width: 100vw;
	max-width: 750px;
}
.zoomed {
	height: 100vh;
	width: 100vw;
}

.map-container {
	position: relative;
	height: 450px;
	width: 450px;
}
.icon-container {
	position: relative;
	height: 35px;
	width: 35px;
}
.form {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.row {
	display: flex;
	gap: 1rem;
}
.height-half {
	height: 50%;
}
.width-half {
	width: 45%;
}
.height-full {
	height: 100%;
}
.width-full {
	width: 100%;
}
.pointer {
	cursor: pointer;
}
.block {
	display: block;
}

.center {
	align-items: center;
	text-align: center;
	justify-content: center;
}

.centered {
	margin: 0 auto;
}
.margin-none {
	margin: 0;
}
.margin-top-sm {
	margin-top: 1.5rem;
}
/* /layout */

/*shaping*/
.rounded {
	border-radius: 1rem;
}
/*shaping*/

/*shading*/
.darken:hover {
	opacity: 60%;
	transition: 0.4s;
}

.bordered {
	border: 1px solid var(--color-2);
}
.active {
	opacity: 40%;
	transition: 0.4s;
}

/* flex */
.flex {
	display: flex;
	flex-wrap: wrap;
}
.gap-small {
	gap: 0.5rem;
}
.gap-medium {
	gap: 1rem;
}
.gap-large {
	gap: 1.5rem;
}
.column {
	flex-direction: column;
}

.flex-home {
	display: flex;
	gap: 2rem;
}
.between {
	justify-content: space-between;
}
.even {
	justify-content: space-evenly;
}
/* /flex */

/*rotate*/
.my-rotate {
	transform: rotate(var(--rotate-1));
}
.full-rotate {
	transform: rotate(var(--rotate-2));
}
.alt-rotate {
	transform: rotate(var(--alt-rotate-1));
}
.alt-full-rotate {
	transform: rotate(var(--alt-rotate-2));
}
/*rotate*/

.collapse {
	animation: collapse 0.5s ease forwards;
}
.collapsed {
	max-height: 0;
}
.collapsed * {
	display: none;
}

.open {
	animation: open 0.5s ease forwards;
}
@keyframes collapse {
	from {
		opacity: 1;
		top: 0;
		height: auto;
	}
	to {
		opacity: 0;
		top: -200;
		height: 0;
	}
}

@keyframes open {
	from {
		opacity: 0;
		top: -200;
		height: 0;
	}
	to {
		opacity: 1;
		top: 0;
		height: auto;
	}
}
/*Scrollers Start*/
.scroll-container {
	overflow: hidden;
	white-space: nowrap;
	box-sizing: border-box;
}

.scroll-text {
	padding-left: 30%;
	animation: scroll 15s linear infinite;
}
@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

/*Scrollers End*/
.top-10 {
	margin-top: 10%;
}

@media screen and (min-width: var(--sm-max)) {
	.my-rotate {
		transform: rotate(var(--rotate-2));
	}
	.very-rotate {
		transform: rotate(var(--rotate-6));
	}
	.alt-rotate {
		transform: rotate(var(--alt-rotate-2));
	}
	.alt-very-rotate {
		transform: rotate(var(--alt-rotate-4));
	}

	.lander {
		font-size: 2rem;
	}
}
@media (max-width: 450px) {
	.hero {
		min-height: 20vh;
	}
}

@media (max-width: 850px) {
	.banner-container {
		height: 200px;
		width: 200px;
	}
	.map-container {
		height: 350px;
		width: 350px;
	}
	.hero {
		min-height: 60vh;
	}
	.disappear-md {
		display: none;
	}
	.my-col-span-3 {
		grid-column: span 3 / span 3;
	}
	.main-image,
	.mobile-image {
		display: block;
	}
	.my-logo {
		position: initial;
		top: unset;
	}
	.width-half {
		width: 100%;
	}
	.image-container {
		height: 200px;
	}
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
