.copColor1 {
	background-color: rgb(100, 100, 70);
}
.copColor2 {
	background-color: rgb(20, 20, 40);
}
.copColor3 {
	background-color: rgb(0, 0, 0);
}
.lightColor {
	background-color: rgb(150, 150, 150);
}
